.container {
   display: flex;
   width: 100%;
}

.container>.row {
   display: flex;
   width: 450px;
   margin: 0 calc(50% - 225px);
   text-align: center;
}



@media (min-width: 576px) {
   .container>.row {
      width: 540px;
      margin: 0 calc(50% - 270px);
   }
}

@media (min-width: 768px) {
   .container>.row {
      width: 720px;
      margin: 0 calc(50% - 360px);
   }
}

@media (min-width: 992px) {
   .container>.row {
      width: 960px;
      margin: 0 calc(50% - 480px);
   }
}

@media (min-width: 1200px) {
   .container>.row {
      width: 1140px;
      margin: 0 calc(50% - 570px);
   }
}

@media (min-width: 1400px) {
   .container>.row {
      width: 1320px;
   }
}